<mat-toolbar color="primary" class="app-toolbar">
  <button routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>Hospital Un paso al mas alla</span>
  <span class="example-spacer"></span>
  User name
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
<p class="footer-text">Pulgainc.enterprise copyright</p>
