<div class="app-panel-container">
  <div class="overlay">
    <h2 class="titulo-bienvenida">🏥 Hospital Un paso al más allá</h2>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2" *ngFor="let modulo of modulos">
          <mat-card [routerLink]="modulo.ruta" class="dashboard-card">
            <mat-icon>{{ modulo.icono }}</mat-icon>
            <p>{{ modulo.nombre }}</p>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
