/* Usa un tema personalizado si prefieres cambiar los colores de la paleta */

/* General Styles */
html, body {
     height: 100%;
     margin: 0;
     font-family: 'Roboto', sans-serif;
     background-color: #f4f6f9; /* Fondo más suave para la app */
   }
   

   